:root {
    --page-color: #FFFFFF;
    --activity-color: #2196F3;
    --main-text-color:#212121;
    --secondary-text-color: #757575;
    --secondary-footer-text-color: #FFFFFF60;
    --footer-background-color: #2F303A;
}

